<p id="notice"><%= notice %></p>

<p>
  <strong>Borrow date:</strong>
  <%= @book_history.borrow_date %>
</p>

<%= link_to 'Edit', edit_book_history_path(@book_history) %> |
<%= link_to 'Back', book_histories_path %>
