<p id="notice"><%= notice %></p>

<h1>Bookmarks</h1>

<table>
  <thead>
    <tr>
      <th>Bookmarked Book ISBN</th>
      <th>Bookmarked Book Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= Book.find(bookmark.book_id).isbn if bookmark.student_id==current_student.id %></td>
        <td><%= Book.find(bookmark.book_id).title if bookmark.student_id==current_student.id%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

