<p id="notice"><%= notice %></p>

<h1>Admin Pages</h1>


<%= link_to 'Manage Books', books_path %>
<%= link_to 'Manage Libraries', libraries_path %>
<%= link_to "Manage Students" ,studentusers_path %>