<% if current_admin %>
<h1 style="font-size:30px">Hi Admin! Welcome to Library!</h1>
<% elsif current_librarian %>
<h1 style="font-size:30px">Hi Librarian! Welcome to Library!</h1>
<% elsif current_student %>
<h1 style="font-size:30px">Hi Student ! Welcome to Library!</h1>
<% else%>
<h1 style="font-size:40px"> Welcome to Library!</h1>
<% end %>